table{
   border-collapse:collapse;
   width:800px
}
td,th,tr{
    padding: 10px
    
}
  #heading{
    background-color: rgb(117, 8, 8);
    color: white
}
td{
    align-content: center
    
}


tr:nth-child(odd) {
    background-color: #bb1717;
}
tr:hover{
    background-color: rgb(151, 145, 145);
}


    